/* Styling the wenpage of shoppyglobe application*/
/* == Global==*/
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background:#f4f6f9;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: lch(36.38% 19.39 200.7);
  color: black;
  
  padding: 15px 30px;
  flex-wrap: wrap;
}
/* Logo for the application */
.logo {
  font-size: 28px;
  font-weight: 700;
}

.shoopy {
  color: hsl(55, 77%, 54%);   
}

.globe {
  color: #ef7ae8;   
}


/* for Home and carts */
.header a {
  color: lab(89.42% -18.7 67.71);
  margin: 0 10px;
  text-decoration: none;
  font-weight:500;
  transition: all 0.3s ease;
  
}
.header a:hover{
  color: white ;
  text-decoration: underline;
  transform:translateY(-2px);
}

.header input {
  padding: 6px;
}
/* == Search bar ===== */
.search-wrapper {
  position: relative;
  width: 260px;
  max-width:100%;
}

.search-wrapper input {
  
  padding: 10px 15px 10px 40px;
  border-radius: 30px;
  border: 1px solid #ddd;
  outline: none;
  font-size: 14px;
  box-shadow: 0 2px 8px rgba(222, 86, 186, 0.1);
  transition: 0.3s;
}

.search-wrapper input:hover,
.search-wrapper input:focus {
  box-shadow: 0 1px 6px  hsl(51, 69%, 60%);
  border-color: transparent;
}

.search-icon {
  position: absolute;
  left: 14px;
  top: 50%;
  transform: translateY(-50%);
  color: black;
  font-size: 18px;
}

/* Grid for cards*/
.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  background-color: white;
  padding: 20px;
}

/* Styling the Cards */
.card {
  border: 1px solid #674848;
  border-radius: 20px;
  width:200px;
  gap: 5px;
  padding: 15px;
  text-align: center;
  border-radius: 20px;
  background:rgba(255,255,255,0.8);
  text-align:center;
  transition: all 0.3s ease;
  box-shadow: 0 8px 20px rgba(0,0,0,0.05);
}
/* Hovering effect for Carts*/

.card:hover{
  background-color: #b4e8e8;
  transform:translateX(-5px);
  box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 150px;
  height: 100px;
  object-fit: cover;
  border-radius:10px;
  margin-bottom:10px;
}

.cart-item {
  display: flex;
  width:250px;
  height: 200px;
  gap: 20px;
  padding: 15px;
  border-radius: 15px;
  background: white;
  margin: 15px;
  align-items: center;
  box-shadow: 0 4px 15px rgba(0,0,0,0.05);
  border-bottom: 2px solid lab(80.75% -27.79 17.93);
  text-decoration: aqua;
  border-radius:12px;
  transition:all 0.3s ease;
  
}
.cart-item:hover{
  transform: scale(1.02);
}

.cart-item img {
  width: 100px;
  border-radius: 10px;
}
/* ====== Quantity Buttons ==== */
.quantity button {
  margin: 0 5px;

}
/* Button styling for adding for view the data for cart */
button {
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  gap: 100px;
  background:linear-gradient(135deg,#ff6a00,#ee0979);
  color:white;
  font-weight:500;
  border-radius: 10px;
  transition:all 0.3s ease;
  
}

button:hover{
  background-color: hwb(112 13% 24%);
  transform:translateY(-3px);
  box-shadow:0 5px 10px rgba(0,0,0,0.2);
}


.detail {
  max-width:500px;
  height:auto;
  margin: 20px;
  padding: 20px;
  background: white;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(181, 209, 68, 0.08);
  text-align: left;
}
.detail:hover{
  transform: scale(1.02);
}

.detail h2 {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  margin-bottom: 20px;
  color: #571a4d;
}

.detail img {
  width: 250px;
  max-width: 400px;
  height: 200px;
  border-radius: 15px;
  margin: 20px 0;
  transition: 0.3s ease;
}

.detail img:hover {
  box-shadow: #f15839;
  background-color: hsl(150, 7%, 22%);
  transform: scale(1.02);
}

.detail h4 {
  margin-top: 20px;
  font-size: 20px;
  color: #2a5298;
}

.detail p {
  font-size: 16px;
  color: #555;
  margin: 10px 0;
  line-height: 1.6;
}

.detail p:last-child {
  font-size: 20px;
  font-weight: bold;
  color: #ee0979;
}

/* Not Found ==*/
.notfound {
  text-align: center;
  padding: 50px;
  font-size: 20px;
  color:#555;
}
  

/* Responsivve ======*/

@media (max-width: 600px) { 
  .grid { 
    grid-template-columns: 1fr; 
  } 
  .cart-item { 
    flex-direction: column; 
  } 
}