/* Styling the wenpage of shoppyglobe application*/
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: lch(36.38% 19.39 200.7);
  color: #f15839;
  padding: 15px 30px;
}
/* for Home and carts */
.header a {
  color: hsl(51, 80%, 64%);
  margin: 0 10px;
  text-decoration: none;
  
}
.header a:hover{
  background-color: lch(36.38% 19.39 200.7) ;
  text-decoration: underline;
}

.header input {
  padding: 6px;
}
/* Grid for cards*/
.grid {
  display: grid;
  gap:20px;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  background-color: white;
  padding: 20px;
}
/* Styling the Cards */
.card {
  border: 1px solid #674848;
  width:200px;
  gap: 20px;
  padding: 15px;
  text-align: center;
  border-radius: 20px;
  background-color: whitesmoke;
}
/* Hovering effect for Carts*/

.card:hover{
  background-color: #b4e8e8;
  transform:translateX(-5px);
  box-shadow:0 5px 10px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 200px;
  height: 100px;
  object-fit: cover;
  border-radius:10px;
}

.cart-item {
  display: flex;
  gap: 20px;
  padding: 15px;
  border-bottom: 1px solid lab(87.54% -2.92 1.73);
  text-decoration: aqua;
  border-radius:12px;
  transition:all 0.3s ease;
  
}

.cart-item img {
  width: 100px;
}

.quantity button {
  margin: 0 5px;
}
/* Button styling for adding for view the data for cart */
button {
  padding: 8px 12px;
  cursor: pointer;
  gap: 100px;
  background-color: lab(59.47% -28.27 39.21);
  border-radius: 10px;
  transition:all 0.2s ease;
  
}

button:hover{
  background-color: hwb(112 13% 24%);
  transform:translateY(-3px);
  box-shadow:0 5px 10px rgba(0,0,0,0.2);
}

.notfound {
  text-align: center;
  padding: 50px;
}

@media (max-width: 600px) {
  .grid {
    grid-template-columns: 1fr;
  }

  .cart-item {
    flex-direction: column;
  }
}

